.search-bar{
    margin: 0 auto;
}
.search-bar .btn{

}
.serach-area {
    padding: 80px;
    display: -webkit-inline-box;
    margin: 0 auto;
    width: 100%;
    padding: 80px 20%;
}
.serach-area .form-control {
    height: calc(1.8em + .75rem + 2px);
}