.navLink {
    margin-left: 10%;
    color: white !important;
}

.brandName {
    padding-left: 3%;
}

.navLogo {
    border-radius: 100px;
    width: 15%;
}

.agencyName {
    display: inline;
    margin-left: 5%;
}

.brandSlogan {
    margin-left: 20%;
    margin-top: -4%;
    margin-bottom: -1%;
}
