.form-card {
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px gray;
}

.form-field {
    border: none;
    background-color: rgb(190, 255, 190);
    border-radius: 2px;
    margin-top: 20px;
    width: 50%;
    height: 45px;
}

.savingPassword {
    text-align: center;
}

.error {
    color: red;
}

.submit-button {
    font-size: 20px;
    color: white;
    background-color: green;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    margin-bottom: 20px;
    width: 50%;
    height: 45px;
}

.social-login {
    margin-bottom: 50px;
    text-align: center;
}

.social-media-btn {
    padding: 2px;
    width: 200px;
    box-shadow: 2px 2px 5px gray;
    height: 55px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}

.social-media-icon {
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: -5px;
}

.logo {
    border-radius: 100px;
    width: 10%;
}

@media (max-width: 760px) {
    .logo {
        width: 50%;
        margin-bottom: 10px;
    }
    .form-field {
        width: 100%;
    }
}
