.error {
  color: red;
}

.logo {
  border-radius: 100px;
  width: 10%;
}

.brandBtn {
  border: none;
  background-color: rgb(131, 34, 34);
  font-size: 15px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.dashboardContainer {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 5%;
}

.dashboardFormContainer {
  width: 80%;
  padding: 0 0;
}

.dashboardTitle {
  padding: 2%;
  color: brown;
  text-align: center;
}

.tableContainer {
  display: grid;
  grid-template-columns: 20% 79%;
}

.headerRow {
  height: 100px;
  font-size: 20px;
  font-weight: 650;
  background-color: rgba(228, 233, 237, 1);
  padding: 3%;
}

.colP {
  font-size: 18px !important;
  padding: 5% 0;
}

.statusCol {
  padding-left: 6.5%;
}
